* {
font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

a {
    color: hsl(0, 26%, 96%);
    text-decoration: none;
}

body {
  background-color: #0918f1;

}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    
}

h1 {
    color: rgba(251, 255, 0, 0.993);
    font-size: 36px;
    font-weight: bold;
   }

h2 {
    color: rgba(250, 246, 5, 0.993);
    font-size: 30px;
    font-weight: bold;
}

h3 {
    color: rgba(255, 217, 0, 0.993);
    font-size: 24px;
    font-weight: bold;
}

li {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

tr {
    color: hsl(0, 0%, 100%);
}

td {
    color: hsl(0, 0%, 100%);
    padding: 10   ;
    border: 1px solid #ddd;
}

address {
    color: hsl(0, 0%, 100%);
}


nav {
        color: hsl(0, 0%, 100%);
}

ul {
    color: hsl(0, 0%, 100%);
}

section {
    padding: 0,2px;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}

select {
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

links {
    color: #130ff1
}

li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

input[type="submit"] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label for="termos" {
    color: hsl(0, 0%, 100%);
}

address {
    color: hsl(0, 0%, 100%);
}

contato {
    color: hsl(0, 0%, 100%);
}

br {
    color: hsl(0, 0%, 100%);
}

label {
    color: hsl(0, 0%, 100%);
}
